body {
    color: rgb(255, 255, 255);
    background: #000;
    text-align: center;

}
a{
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    border: white;
    text-decoration: none;
    font-size: 200px;
}