<!doctype html>
<html lang="en">

<head>
  <title>Zargari Translator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{url_for('static',filename='style.css') }}">

</head>

<body>
  <div class="container">
    <div class="box">
      <div class="icon">
        <img class="displayed" src="https://github.com/Baamshi/Zargari-Translator/blob/master/templates/icon.png?raw=true" height="250px" alt="telegram">
        <div class="content">
          <a  href="tg://resolve?domain=zargaritranslatorbot">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Go to BOT
          </a>

        </div>
      </div>
    </div>
  </div>



</body>

</html>