<!doctype html>
<html lang="en">
  <head>
    <title>Bot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css') }}">
  </head>
  <body>
    <img  src="https://github.com/Baamshi/Zargari-Translator/blob/master/templates/icon.png?raw=true" height="100px" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="telegram">
    <a href="https://t.me/zargaritranslatorbot">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Go to BOT
    </a>
 
  </body>
</html>